<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/se.liu.ida.sas.pelab.vqlsyntaxcheck/xtend-gen/se/liu/ida/sas/pelab/vqlsyntaxcheck/EvaluateDatabase.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="JDBC_URL" value="/config/text2vql/dataset_construction/dataset.db"/>
        <mapEntry key="OUTPUT" value="/config/text2vql/dataset_construction/valid_ids.txt"/>
        <mapEntry key="PROJECT_PATH" value="/config/text2vql/dataset_construction/"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="se.liu.ida.sas.pelab.vqlsyntaxcheck.EvaluateDatabase"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="se.liu.ida.sas.pelab.vqlsyntaxcheck"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="se.liu.ida.sas.pelab.vqlsyntaxcheck"/>
</launchConfiguration>
